body {
    padding-top: 75px;
    padding-bottom: 55px;
}
.header{
    height: 50px;
    background: #af3a46;
}
.footer{
    height: 40px;
    background: #af3a46;
}
.top_logo{
    height:30px;
}
.btn-secondary{
    opacity:0.7;
}
.bar-red{
    background: #af3a46;
    opacity:0.95;
}
.bar-gray{
    background: #969696;
}
