.bg{
    background: #af3a46;
    height: 100%;
    vertical-align:top;
}
/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc{
    display: block !important;
    position: relative;
}
.pc video{
    position: absolute;
}
.text-pc {
    position: absolute;/*絶対配置*/
    color: white;/*文字は白に*/
    top: 30vh;
    left:50vw;
}
#logo-pc{
    border-radius:50%;
    filter: drop-shadow(0px 0px 4px #fcfaeb);
    width:200px;
    height:200px;
    opacity: 0;
    transition: all 2s;
}
.sp{
    display: none !important;
    position: relative;
    vertical-align:top;
}
.sp video{
    position: absolute;
    height:100vh;
    min-width:100vw;
}
.text-sp {
    position: absolute;/*絶対配置*/
    color: white;/*文字は白に*/
    top: 58vh;
    left:12vw;
}
#logo-sp{
    border-radius:50%;
    filter: drop-shadow(0px 0px 4px #fcfaeb);
    width:100px;
    height:100px;
    opacity: 0;
    transition: all 2s;
}

/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 750px) {
    .pc { display: none !important; }
    .sp { display: block !important; }
}